@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h2 {
  padding: 15px 0;
  font-size: 32px;
}

p {
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 300;
}

.sub-title {
  padding: 5px 0;
  font-weight: 500;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
  opacity: 1;
  position: fixed;
  width: 100%;
  background-color: white;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.nav-bar .nav-logo {
  padding: 10px;
}

.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.nav-bar ul li {
  padding: 15px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.nav-bar ul li:hover {
  color: #080459;
  -webkit-transform: translate(2px, 0);
          transform: translate(2px, 0);
}

.my-portefolio {
  margin: 0 10%;
}

@media screen and (max-width: 500px) {
  .my-portefolio {
    margin: 0 5%;
  }
}

.hero-container {
  height: 100vh;
}

.main-title {
  padding: 100px 0 70px 0;
}

@media screen and (max-width: 500px) {
  .main-title {
    padding: 100px 0 40px 0;
  }
}

.main-title .gradient-title {
  font-size: 120px;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, right top, from(#020024), to(#2574d1));
  background: linear-gradient(90deg, #020024 0%, #2574d1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1150px) {
  .main-title .gradient-title {
    font-size: 90px;
  }
}

.main-title .job-title {
  font-size: 72px;
  font-weight: 500;
  line-height: 1.1em;
}

@media screen and (max-width: 1150px) {
  .main-title .job-title {
    font-size: 50px;
  }
}

.main-title .job-title .justapoint {
  font-size: 100px;
  color: #080459;
}

.img-container {
  position: absolute;
  right: 150px;
  -webkit-animation: scaling 1s normal forwards ease-in-out;
          animation: scaling 1s normal forwards ease-in-out;
}

@media screen and (max-width: 1150px) {
  .img-container {
    text-align: center;
    position: static;
  }
}

.img-container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@-webkit-keyframes scaling {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaling {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.wrapper-typing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-typing .typing-animation {
  width: 14ch;
  -webkit-animation: typing 1.4s steps(14), blink 0.5s step-end infinite alternate;
          animation: typing 1.4s steps(14), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@media screen and (max-width: 1150px) {
  .wrapper-typing .typing-animation {
    border-right: none;
    -webkit-animation: none;
            animation: none;
    white-space: normal;
    overflow: visible;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 14ch;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 14ch;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.about-me {
  width: 90%;
}

@media screen and (max-width: 500px) {
  .about-me {
    width: 100%;
  }
}

.my-skills {
  margin: 50px 0 100px 0;
  padding: 15px 0;
  text-align: center;
}

.skill-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  padding: 20px;
  height: 200px;
  width: 550px;
  -webkit-transition: -webkit-transform ease 0.1s;
  transition: -webkit-transform ease 0.1s;
  transition: transform ease 0.1s;
  transition: transform ease 0.1s, -webkit-transform ease 0.1s;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 15px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 15px 0px;
}

.skill-card span {
  font-size: 18px;
  font-weight: 500;
}

.skill-card .skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.skill-card:hover {
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px);
}

.skill-png {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: grey solid 2px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  -webkit-transition: -webkit-transform ease 0.1s;
  transition: -webkit-transform ease 0.1s;
  transition: transform ease 0.1s;
  transition: transform ease 0.1s, -webkit-transform ease 0.1s;
}

.skill-png img {
  padding: 3px;
  margin: auto;
  width: 40px;
  height: auto;
}

.skill-png:hover {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
}

.skills-wrapper {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
}

.Front-title {
  color: #1791F2;
}

.Back-title {
  color: #3E893B;
}

.OtherLanguage-title {
  color: #080459;
}

.portefolio-title {
  text-align: center;
}

.my-experience {
  margin-bottom: 100px;
}

.experience-list {
  padding: 15px;
  margin: 20px auto;
  border-radius: 15px;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.experience-list .experience-card {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1150px) {
  .experience-list .experience-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.experience-list .experience-card .job-title {
  padding: 10px 0;
}

.experience-list .experience-card .job-date {
  font-size: 18px;
  font-weight: 500;
}

.experience-list .experience-card .job-location {
  font-size: 18px;
}

.experience-list .experience-card .job-description {
  padding: 10px 0;
}

.experience-list .experience-card img {
  margin-right: 40px;
  height: auto;
  width: 200px;
}

@media screen and (max-width: 1150px) {
  .experience-list .experience-card img {
    margin: 0 auto;
  }
}

.separator-line {
  margin-top: 20px;
  height: 2px;
  background-color: #7F8082;
}

.skills-tag {
  font-size: 90%;
  padding: 5px;
  border-radius: 5px;
  margin-right: 15px;
  background-color: #cfcece;
}

.static {
  position: absolute;
  background: white;
}

.static:hover {
  opacity: 0;
}

.project-list {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
}

.project-card {
  height: 600px;
  width: 600px;
  -webkit-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
          box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 5px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  overflow: hidden;
}

.project-card .img-project {
  width: 600px;
  height: auto;
}

.project-card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.projet-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.my-footer {
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: #d1d1d9;
}

.my-footer .footer-description {
  margin: auto;
}

.footer-container-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-container-socials a {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  margin: 5px 5px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.footer-container-socials a i {
  color: white;
}

.footer-container-socials a:nth-child(1) {
  background-color: #0A66C2;
}

.footer-container-socials a:nth-child(2) {
  background-color: #c4302b;
}

.footer-container-socials a:hover {
  opacity: 0.7;
}

.burger {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .burger {
    display: block;
  }
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #080459;
  margin: 5px;
}

@media screen and (max-width: 750px) {
  .nav-list {
    padding: 5px;
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: white;
    border-bottom: #080459 solid 2px;
    -webkit-box-shadow: #080459 0 2px 2px;
            box-shadow: #080459 0 2px 2px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    -webkit-transition: all ease-in 0.4s;
    transition: all ease-in 0.4s;
  }
  .nav-list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.nav-bar-transform {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */